/*sitewide styles*/

body {
    background-color: white;
}

img {
    height:120px;
}

.title-logo {
    text-align:center;
}

#banner {
    width:728px; 
    height:90px; 
    padding:15px; 
    background-color:grey; 
    color: white;
    text-align: center;
}

.search-bar {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

#organization-cards {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.content {
    margin-top: 5px;
    border: 1px solid black;
    padding: 5px;
    
}

.content > .header {
    font-size: 20px;
    font-weight: bold;
    font-family: verdana;
}

.content > .email {
    font-style: italic;
}

.hide {
    display: none;
}
/*index-page&Parters-page related css styles*/
img {
    height:120px;
}

.title-logo {
    text-align:center;
    background-color:#2D400B;
}
body {
    background-color:#800020;
}
h1 {
    font-size:80px;
}

p {
    font-size:50px;
    text-align:center;
}

.indexlinks {
    font-size:45px;
    border:solid;
    border-width:5px;
    padding:10px;
    border-color:black;
    color:black;
    border:margin;
    
}

a {
    font-size:30px;
    border:none;
    color:black;
}
